html {
    font-family: -apple-system,BlinkMacSystemFont,system-ui,PingFang SC,Hiragino Sans GB,Noto Sans CJK SC,Microsoft YaHei,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1rem;
    color: #343434;
    line-height: 1.75;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 8 * (100vw - 320px)/ 2240);
    }
}
a {
    text-decoration: none;
    color: #3170a7;
}

a:hover {
    text-decoration: underline;
}

p, pre, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

code, pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 1em;
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

table {
    margin-bottom: 1rem;
    font-size: 85%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td, th {
    padding: .5rem .5rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
}

.wrapper {
    max-width: 40rem;
    margin: auto;
    padding: 4rem 2rem 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    header nav ul {
        margin-top: .5rem;
    }
    
    header {
        flex-direction: column;
    }

    .cat {
        display: none;
    }
}

.blog-title {
    margin: 0;
    font-weight: normal;
}

article header {
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 1rem;
    position: relative;
}

.index header {
    font-size: 1.3rem;
    display: block;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.cat {
    line-height: 1.2;
    font-size: 20rem;
    font-weight: bold;
    color: rgba(0,0,0,.07);
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    top: -30%;
    left: -1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.meta {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
}

.meta .date::after {
    content: '';
    padding: 0;
}

.tags::before {
    content: '•';
    color: #9a9a9a;
    padding: 0 .5rem;
}

ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-left: .3rem;
}

header ul li:first-child {
    margin-left: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

article.index {
    padding-bottom: 2rem;
}

article.post h1 {
    width: fit-content;
    border-bottom: 3px solid #272727;
}

article.post section{
    text-align: justify;
}

article.post section {
    margin-top: 3rem;
}


span.date {
    color: #9a9a9a;
    font-style: italic;
}

span.date::after {
    content: '-';
    padding: 0 .5rem;
}

footer {
    max-width: 40rem;
    margin: 0 auto;
    text-align: right;
    padding: 1rem 2rem;
    font-size: smaller;
}

footer p {
    margin-bottom: 0;
    color: #9a9a9a;
}

footer p a {
    text-decoration: underline;
}

.heart {
    color: #3170a7;
    display: inline-block;
    font-size: inherit;
    width: .9em;
    height: .9em;
    overflow: visible;
    vertical-align: -0.125em;
}

figure.highlight {
    padding: 0;
    margin: 0 0 1.5rem;
}

figure.highlight table{
    border-spacing: 0;
    margin-bottom: 0;
}

figure.highlight {
    padding: 0;
    margin: 0 0 1.5rem;
}

figure.highlight .gutter {
    background: rgba(200,200,200,.15);
    text-align: right;
}

figure.highlight pre {
    padding: 0;
    margin: 0;
    overflow: visible;
}

figure.highlight td {
    padding: .5em .75em;
    vertical-align: top;
}

blockquote {
    padding: .5rem 1rem;
    margin: 1rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
    font-style: italic;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.pagination .prev {
    margin-right: auto;
} 

.pagination .next {
    margin-left: auto;
}
