<!DOCTYPE html>
<html lang="<%- theme.lang ? theme.lang : config.language %>">
    <%- partial('common/head') %>
<body>
    <div class="wrapper">
        <%- body %>
    </div>
    <%- partial('common/footer') %>
</body>
</html>